
{% extends 'layout.html' %}
{% block title %}
{{item.title}} - 开发者小蓝
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/agate.min.css">

    <div id="content">
        <blockquote class="blockquote-fixed"><span class="am-fr">{{item.modified}}</span>
            {{item.title}}
        </blockquote>
        <p>

            {% autoescape false %}
            {{item.content}}
            {% endautoescape %}
        </p>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    
{% endblock %}