
{% extends 'layout.html' %}

{% block content %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/zenburn.min.css">

    <div id="content">
        <blockquote class="blockquote-fixed">
            {{item.title}}
        </blockquote>
        <p>

            {% autoescape false %}
            {{item.content}}
            {% endautoescape %}
        </p>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}